<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的网盘</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <script src="/jquery.min.js"></script>
    <script src="/bootstrap.min.js"></script>
    <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.4.1/js/bootstrap.min.js">
    <script type="text/javascript" src="/webjars/vue/2.5.22/dist/vue.js"></script>
    <script type="text/javascript" src="/webjars/vue-resource/1.5.1/dist/vue-resource.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/layui.css">

    <script>
        function upload() {
            var file1 = $("#file")[0].files[0];
            if (file1.size > 524288000) {
                $("#msg").text("文件不能超过500M!");
                $("#msg").css("color", "red");
                return false;
            }
            if ($("#file")[0].files[0] != null) {
                var fd = new FormData();
                fd.append("file", $("#file")[0].files[0]);
                $.ajax({
                    url: "/file/upload",
                    type: "POST",
                    data: fd,
                    async: true,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        $("#upload").removeAttr("disabled");
                        $("#msg").text("上传成功!");
                        $("#msg").css("color", "green");
                        vm.search()

                    },
                    beforeSend: function () {
                        $("#upload").attr("disabled", "true");
                        $("#msg").text("上传中!");
                        $("#msg").css("color", "red");
                    },
                })
            }

        }
    </script>
</head>
<body>
<div style="padding-left: 200px;padding-top: 100px;padding-right: 200px" id="div1">
    <div class="site-demo-button" id="layerDemo" style="margin-bottom: 0;">
        <button data-method="offset" data-type="auto" class="layui-btn layui-btn-normal">创建新文件夹</button>
        <button type="button" id="upload" onclick="$('#file').click();" class="layui-btn layui-btn-normal"
                data-toggle="button">上传文件
        </button>
        <button id="btn" data-method="offset1" data-type="auto" style="display: none"
                class="layui-btn layui-btn-normal">1
        </button>

        <i id="msg"></i>
    </div>
    <input name="file" type="file" onchange="upload(this)" style="display: none;" id="file">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                <template v-for="(p,index) in paths">
                    <template v-for="(value,key) in p">
                        <a href="javascript:void(0)" @click="topath(value)"> /{{key}}</a>
                    </template>

                </template>

            </th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="file in fileList">
            <td>
                <a href="javascript:void(0)" @click="topath(file.fpath)" v-if="file.isfile==0">
                    <!--文件夹图标-->
                    <span class="glyphicon glyphicon-folder-close"></span>
                    {{file.frealname}}
                </a>
                <!--文件图标-->
                <span v-if="file.isfile==1" class="glyphicon glyphicon-file"></span>
                <template v-if="file.isfile==1">
                    {{file.frealname}}
                </template>
                <!--图片图标-->
                <a href="javascript:void(0)" title="点击预览" v-if="file.isfile==2" data-toggle="modal"
                   data-target="#myModal"
                   @click="img(file.fname,file.frealname)">
                    <span class="glyphicon glyphicon-picture"></span>
                    <template v-if="file.isfile==2">
                        {{file.frealname}}
                    </template>
                </a>
            </td>
            <template v-if="file.isfile!=0">
                <td>{{dateFilter(file.ftime)}}</td>
            </template>
            <template v-if="file.isfile==0">
                <td></td>
            </template>
            <template v-if="file.isfile!=0">
                <td>{{file.fsize}}B</td>
            </template>
            <template v-if="file.isfile==0">
                <td></td>
            </template>
            <td v-if="file.isfile!=0"><i title="下载" class="layui-icon layui-icon-download-circle"
                                         @click="down(file.fname,file.frealname)"></i>

                <i title="分享" class="layui-icon layui-icon-share" @click="sa(file.fname,file.frealname)"></i>
                <i title="删除" class="layui-icon layui-icon-delete" @click="del(file.fid)"></i>
            </td>
            <td v-if="file.isfile==0"></td>
        </tr>
        </tbody>
    </table>
    <!--    分页-->
    <ul class="pagination">

        <li v-if="currentpage==1" class="disabled"><a href="javascript:void(0)">&laquo;</a></li>
        <li v-if="currentpage!=1"><a href="javascript:void(0)" @click="pre()">&laquo;</a></li>

        <li :class="i==currentpage?'active':''" v-for="i in pagecount"><a href="javascript:void(0)" @click="num(i)">{{i}}</a>
        </li>
        <li v-if="currentpage==pagecount" class="disabled"><a href="javascript:void(0)">&raquo;</a></li>
        <li v-if="currentpage!=pagecount"><a href="javascript:void(0)" @click="next()">&raquo;</a></li>
    </ul>
    <input type="hidden" id="path" th:value="${session.path}">

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="height: auto;width:50%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        {{frealname}}
                    </h4>
                </div>
                <center>
                    <img id="img1" width="500px">
                </center>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">关闭
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
</body>
<script type="text/javascript" src="/js/layui.js" charset="utf-8"></script>
<script>
    function f() {

        $("#link").text(vm.share.slink)
        $("#pass").text(vm.share.spassword)

    }
    var vm = new Vue({
        el: "#div1",
        data: {
            fileList: "",
            paths: "",
            fname: "",
            frealname: "",
            currentpage: 1,
            pagecount: 1,
            share: {}
        },
        mounted: function () {
            this.search();
        },
        methods: {
            sa: function (fname,frealname) {
                $.ajax({
                    type: "POST",
                    url:"/share",
                    data: {
                        fname:fname,
                        frealname: frealname
                    },
                    success: function (data) {
                        vm.share = data
                        $("#btn").click()
                    }
                })

            },
            search: function () {
                var path = $("#path").val()
                this.$http.get("/file/search",
                    {
                        params: {
                            path: path,
                            currentpage: this.currentpage
                        }
                    }).then(function (rs) {
                    this.fileList = rs.data.data.list;
                    this.currentpage = rs.data.data.pageNum;
                    this.pagecount = rs.data.data.pages
                    this.paths = rs.data.path
                })

            },
            topath: function (path) {
                var path = $("#path").val(path)
                this.search()
            },
            down: function (fname, frealname) {
                window.location.href = "/file/down?fname=" + fname + "&frealname=" + frealname;
            },
            img: function (fname, frealname) {
                this.fname = fname;
                this.frealname = frealname;
                $("#img1").attr("src", "/file/img?fname=" + fname)
            },
            dateFilter: function (input) {
                var d = new Date(input);
                var year = d.getFullYear();
                var month = d.getMonth() < 9 ? "0" + (d.getMonth() + 1) : "" + (d.getMonth() + 1);
                var day = d.getDate() < 10 ? "0" + d.getDate() : "" + d.getDate();
                var hour = d.getHours() < 10 ? "0" + d.getHours() : "" + d.getHours();
                var minutes = d.getMinutes() < 10 ? "0" + d.getMinutes() : "" + d.getMinutes();
                var seconds = d.getSeconds() < 10 ? "0" + d.getSeconds() : "" + d.getSeconds();
                return (year + "-" + month + "-" + day + " " + hour + ":" + minutes + ":" + seconds);
            },
            del: function (fid) {
                if (window.confirm("确认删除?")) {
                    $.ajax({
                        type: "POST",
                        url: "/file/del",
                        data: {
                            fid: fid
                        },
                        success: function (data) {
                            alert(data.msg);
                            vm.search()

                        },
                        error: function () {
                            alert("网络异常!")

                        }
                    })
                }

            },
            pre: function () {
                if (this.currentpage > 1) {
                    this.currentpage = this.currentpage - 1;
                    this.search();
                }
            },
            next: function () {
                if (this.currentpage < this.pagecount) {
                    this.currentpage = this.currentpage + 1;
                    this.search();
                }
            },
            num: function (i) {
                if (i <= 1) {
                    this.currentpage = 1;
                } else if (i >= this.pagecount) {
                    this.currentpage = this.pagecount;
                } else {
                    this.currentpage = i;
                }
                this.search();
            }
        }
    })


</script>
<script>
    layui.use('layer', function () { //独立版的layer无需执行这一句
        var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句

        //触发事件
        var active = {

              offset: function (othis) {
                var type = othis.data('type')
                    , text = othis.text();

                layer.open({
                    type: 1
                    , title: "文件夹名称"
                    , offset: type //具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
                    , id: 'layerDemo' + type //防止重复弹出
                    , content: '<div style="padding: 20px 100px;">' + '<div class="layui-inline">\n' +
                        '      <div class="layui-input-inline">\n' +
                        '        <input type="text" name="pathname" id="pathname"  autocomplete="off" class="layui-input">\n' +
                        '      </div>\n' +
                        '       <span id="pathnamemsg"></span> ' +
                        '    </div>' + '</div>'
                    , btn: '创建'
                    , btnAlign: 'c' //按钮居中
                    , shade: 0 //不显示遮罩
                    , yes: function () {
                        var pathname = $("#pathname").val()
                        if (pathname == '') {
                            $("#pathnamemsg").text("名称不能为空!")
                            $("#pathnamemsg").css("color", "red")
                            return false;
                        }
                        if (pathname.indexOf('/') >= 0 || pathname.indexOf('\\') >= 0) {
                            $("#pathnamemsg").text("名称不能包含特殊字符!")
                            $("#pathnamemsg").css("color", "red")
                            return false;
                        }
                        $.ajax({
                            type: "post",
                            url: "/file/createPath",
                            data: {
                                name: pathname
                            },
                            success: function (data) {
                                if (data.code == "200") {
                                    vm.search()
                                    layer.closeAll();
                                } else {
                                    $("#pathnamemsg").text(data.msg)
                                    $("#pathnamemsg").css("color", "red")
                                }
                            }
                        })
                    }
                });
            }
            , offset1: function (othis) {
                var type = othis.data('type')
                    , text = othis.text();

                layer.open({
                    type: 1
                    , title: "生成链接"
                    , offset: type //具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
                    , id: 'layerDemo' + type //防止重复弹出
                    , content: '<div style="padding: 20px 80px;">' +
                        '<div class="layui-inline">\n' +
                        '      <div class="layui-input-inline">\n' +
                        '      <span id="link">链接: <a href="'+vm.share.slink+'">'+vm.share.slink+'</a></span><br>' +
                        '      <span id="pass">密码: '+vm.share.spassword+'</span>' +
                        '      </div>\n' +
                        '       <span id="pathnamemsg"></span> ' +
                        '    </div>' + '</div>'
                    , btn: '确定'
                    , btnAlign: 'c' //按钮居中
                    , shade: 0 //不显示遮罩
                    , area:'550px'
                    , yes: function () {
                        layer.closeAll()


                    }
                });
            }
        };

        $('#layerDemo .layui-btn').on('click', function () {
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });

    });
</script>
</html>