<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的网盘</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.4.1/css/bootstrap.min.css">
    <script type="text/javascript" src="/webjars/jquery/3.2.1/jquery.js"></script>
    <script type="text/javascript" src="/webjars/vue/2.5.22/dist/vue.js"></script>
    <script type="text/javascript" src="/webjars/vue-resource/1.5.1/dist/vue-resource.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/layui.css">

    <script>
        function upload() {
            var file1 = $("#file")[0].files[0];
            if (file1.size > 524288000) {
                $("#msg").text("文件不能超过500M!");
                $("#msg").css("color", "red");
                return false;
            }
            if ($("#file")[0].files[0] != null) {
                var fd = new FormData();
                fd.append("file", $("#file")[0].files[0]);
                $.ajax({
                    url: "/file/upload",
                    type: "POST",
                    data: fd,
                    async: true,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        $("#upload").removeAttr("disabled");
                        $("#msg").text("上传成功!");
                        $("#msg").css("color", "green");
                        vm.search()

                    },
                    beforeSend: function () {
                        $("#upload").attr("disabled", "true");
                        $("#msg").text("上传中!");
                        $("#msg").css("color", "red");
                    },
                })
            }

        }
    </script>
</head>
<body>
<div style="padding-left: 200px;padding-top: 100px;padding-right: 200px" id="div1">
    <div class="site-demo-button" id="layerDemo" style="margin-bottom: 0;">
        <button data-method="offset" data-type="auto" class="layui-btn layui-btn-normal">创建新文件夹</button>
        <button type="button" id="upload" onclick="$('#file').click();" class="layui-btn layui-btn-normal"
                data-toggle="button">上传文件
        </button>
        <i id="msg"></i>
    </div>
    <input name="file" type="file" onchange="upload(this)" style="display: none;" id="file">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                <template v-for="(p,index) in paths">
                    <template v-for="(value,key) in p">
                      <a href="javascript:void(0)" @click="topath(value)"> /{{key}}</a>
                    </template>

                </template>

            </th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="file in fileList">
            <td>
                <a href="javascript:void(0)" @click="topath(file.fpath)" v-if="file.isfile==0">
                    <!--文件夹图标-->
                    <span class="glyphicon glyphicon-folder-close"></span>
                    {{file.frealname}}
                </a>
                <!--文件图标-->
                <span v-if="file.isfile==1" class="glyphicon glyphicon-file"></span>
                <!--图片图标-->
                <span v-if="file.isfile==2" class="glyphicon glyphicon-picture"></span>
                <template v-if="file.isfile!=0">
                    {{file.frealname}}
                </template>
            </td>
            <template v-if="file.isfile!=0">
                <td>{{file.fsize}}B</td>
            </template>
            <template v-if="file.isfile==0">
                <td></td>
            </template>
            <td><i class="layui-icon layui-icon-download-circle" @click="down(file.fname,file.frealname)"></i></td>
        </tr>
        </tbody>
    </table>
</div>
<input type="hidden" id="path" th:value="${session.path}" >
</body>
<script type="text/javascript" src="/js/layui.js" charset="utf-8"></script>
<script>
    var vm = new Vue({
        el: "#div1",
        data: {
            fileList: "",
            paths:""
        },
        mounted: function () {
            this.search();
        },
        methods: {
            search: function () {
                var path = $("#path").val()
                this.$http.get("/file/search",
                    {
                        params: {
                            path: path
                        }
                    }).then(function (rs) {
                    this.fileList = rs.data.data;
                    this.paths = rs.data.path
                })

            },
            topath:function(path){
                var path = $("#path").val(path)
                this.search()
            },
            down: function (fname, frealname) {
                window.location.href = "/file/down?fname=" + fname + "&frealname=" + frealname;
            }
        }
    })
</script>
<script>
    layui.use('layer', function () { //独立版的layer无需执行这一句
        var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句

        //触发事件
        var active = {
            setTop: function () {
                var that = this;
                //多窗口模式，层叠置顶
                layer.open({
                    type: 2 //此处以iframe举例
                    , title: '当你选择该窗体时，即会在最顶端'
                    , area: ['390px', '260px']
                    , shade: 0
                    , maxmin: true
                    , offset: [ //为了演示，随机坐标
                        Math.random() * ($(window).height() - 300)
                        , Math.random() * ($(window).width() - 390)
                    ]
                    , content: '//layer.layui.com/test/settop.html'
                    , btn: ['继续弹出', '全部关闭'] //只是为了演示
                    , yes: function () {
                        $(that).click();
                    }
                    , btn2: function () {
                        layer.closeAll();
                    }

                    , zIndex: layer.zIndex //重点1
                    , success: function (layero) {
                        layer.setTop(layero); //重点2
                    }
                });
            }
            , offset: function (othis) {
                var type = othis.data('type')
                    , text = othis.text();

                layer.open({
                    type: 1
                    , title: "文件夹名称"
                    , offset: type //具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
                    , id: 'layerDemo' + type //防止重复弹出
                    , content: '<div style="padding: 20px 100px;">' + '<div class="layui-inline">\n' +
                        '      <div class="layui-input-inline">\n' +
                        '        <input type="text" name="pathname" id="pathname"  autocomplete="off" class="layui-input">\n' +
                        '      </div>\n' +
                        '       <span id="pathnamemsg"></span> ' +
                        '    </div>' + '</div>'
                    , btn: '创建'
                    , btnAlign: 'c' //按钮居中
                    , shade: 0 //不显示遮罩
                    , yes: function () {
                        var pathname = $("#pathname").val()
                        if (pathname == '') {
                            $("#pathnamemsg").text("名称不能为空!")
                            $("#pathnamemsg").css("color", "red")
                            return false;
                        }
                        if (pathname.indexOf('/') >= 0 || pathname.indexOf('\\') >= 0) {
                            $("#pathnamemsg").text("名称不能包含特殊字符!")
                            $("#pathnamemsg").css("color", "red")
                            return false;
                        }
                        $.ajax({
                            type: "post",
                            url: "/file/createPath",
                            data: {
                                name: pathname
                            },
                            success: function (data) {
                                if (data.code == "200") {
                                    vm.search()
                                    layer.closeAll();
                                } else {
                                    $("#pathnamemsg").text(data.msg)
                                    $("#pathnamemsg").css("color", "red")
                                }
                            }
                        })


                    }
                });
            }
        };

        $('#layerDemo .layui-btn').on('click', function () {
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });

    });
</script>
</html>